.container {
  position: relative;
  top: -1.15em;
  width: 100%;
  height: 100vh;
  background-color: #31aebc;
  overflow: hidden;
}
/*animation: ripple 15s infinite;*/
.circle {
  position: absolute;
  border-radius: 50%;
  background: #31aebc;
  box-shadow: 0px 1px 2px 0px #508fb9;
  border-width: 4px;
  border-color: #134148;
  border-style: solid;
  opacity:0;
}
@keyframes expand1 {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: scale(3.5);
  }
}
@keyframes expand3 {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
@keyframes expand2 {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: scale(5.5);
  }
}
