

.secret{
    color: #2b2516;
    font-size: 60;
    margin-top:50vh;
}

.secret::after{
    content: "想你了~";
}

.secretPage{
    background-color: #f8f2bd;
    width: 98.9vw;
    height: 100vh !important;

    position: relative;
    align-content: center;
    align-items: center;
}
